
/**layourPrincipal*/
  .set-my-bg-primary{
    color: var(--my-bg-primary-color) !important;
  }
  *{
    border-radius: 0px !important;
  }
  header#principal{
    /* url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3cpath d='M-50.05 155.66C63.29 155.87 173.9 225.66 397.86 225.66 621.81 225.66 600.87 146.84 845.76 155.66 1090.66 164.48 1136.73 583.69 1293.67 623.61' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-25.59 125.77C111.67 126.56 217.56 238.84 509.45 248.97 801.33 259.1 885.92 579.95 1044.48 594.54' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-193.22 194.77C-50.67 198.39 52.22 394.24 338.21 401.97 624.19 409.7 726.19 614.75 869.63 618.87' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-92.09 422.71C10.37 422.97 109.82 492.71 311.74 492.71 513.65 492.71 511.77 422.45 715.56 422.71 919.36 422.97 1008.88 599.18 1119.39 603.23' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-76.76 118.85C54.93 121.08 195.87 262.11 422.57 286.85 649.28 311.59 572.87 597.16 672.24 639.54' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") */
    background:url('/images/Background.svg'), var(--my-bg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important; 
    height: 100vh !important;
  }
  
  nav a{
    color: var(--my-bg-secondary-color) !important;
    font-weight: 500;
    font-family: var(--my-text-two);
  }
  /* .background{
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3cpath d='M-50.05 155.66C63.29 155.87 173.9 225.66 397.86 225.66 621.81 225.66 600.87 146.84 845.76 155.66 1090.66 164.48 1136.73 583.69 1293.67 623.61' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-25.59 125.77C111.67 126.56 217.56 238.84 509.45 248.97 801.33 259.1 885.92 579.95 1044.48 594.54' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-193.22 194.77C-50.67 198.39 52.22 394.24 338.21 401.97 624.19 409.7 726.19 614.75 869.63 618.87' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-92.09 422.71C10.37 422.97 109.82 492.71 311.74 492.71 513.65 492.71 511.77 422.45 715.56 422.71 919.36 422.97 1008.88 599.18 1119.39 603.23' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-76.76 118.85C54.93 121.08 195.87 262.11 422.57 286.85 649.28 311.59 572.87 597.16 672.24 639.54' stroke='rgba(145%2c 190%2c 169%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"), var(--my-bg) !important;
    background-repeat: no-repeat !important;
  } */
  .set-background-gradient{
    background-image: radial-gradient(circle, #ede6e1, #e1dacc, #e1dacc, #e1dacc, #e1dacc, #91bea9);
  }
  .bg-cyan{
    background-color: var(--my-bg-cyan) !important;
  }
  .bg-img{
    background: url('/images/blob.svg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 500px !important; 
    object-fit: cover;
    overflow: visible !important;
  }
  .bg-img2{
    background-color: var(--my-bg-tree) !important;
  }
  .my-paddings{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .set-my-text{
    font-family: var(--my-text) !important;
  }
  .set-my-text-two{
    font-family: var(--my-text-two) !important;
  }
  .border-primary{
    border: var(--my-bg-secondary-color) 2px solid !important;
  }
  .my-width{
    width: 100% !important;
  }
  .mi-heigth{
    height: auto !important;
  }
  .mi-heigth2{
    height: auto !important;
  }
  .set-my-bg{
    color: var(--my-bg) !important;
  }
  .set-my-bg-secondary{
    /* url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1227%26quot%3b)' fill='none'%3e%3cpath d='M1601.26 651.17C1467.66 648.67 1413.08 519.45 1096.59 475.17 780.09 430.89 779.65-71.54 591.91-133.25' stroke='rgba(237%2c 230%2c 225%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1610.04 244.65C1453.41 249.85 1263.73 497.34 1034.31 492.65 804.89 487.96 876.72 21.65 746.44-66.28' stroke='rgba(237%2c 230%2c 225%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1596.75 82.99C1454.13 89.35 1345.01 332.11 1082.36 330.99 819.7 329.87 737.67-98.08 567.96-130.13' stroke='rgba(237%2c 230%2c 225%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1651.24 497.73C1490.43 503.16 1314.56 770.68 1060.73 753.73 806.91 736.78 912.26 137.24 765.48-3.15' stroke='rgba(237%2c 230%2c 225%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1692.54 275.6C1500.44 283.08 1350.64 597.21 993.29 595.6 635.94 593.99 523.19 21.68 294.04-20.04' stroke='rgba(237%2c 230%2c 225%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1227'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"),  */
    background:var(--my-bg-cyan) !important;
  }
  .set-my-color-secondary{
    color: var(--my-bg-cyan) !important;
  }
  .set-bg-text{
    background: var(--my-bg-primary-color) !important;
  }
  .set-text-spacing{
    letter-spacing: 9px !important;
  }

  .set-my-border-radius{
    border-radius: 20px !important;
  }
  .hoverP:hover{
    border-bottom: 1px solid var(--my-bg-primary-color)  !important;
  }
  .hoverA:hover{
    border-bottom: none  !important;
  }  

  .animation{
    position: relative !important;
    overflow: hidden;
  }    
  .contentForm-border{
    border-bottom: 2px solid var(--my-bg) !important;
  }

/*button*/

.btn-secondary{
    border: none !important;
    background-color: var(--my-bg-secondary-color) !important;
    color: var(--my-bg-white) !important;
}
.btn-secondary2{
    background-color: transparent;
    border: 2px var(--my-bg-secondary-color) solid !important;
    color: var(--my-bg-secondary-color)!important;
}

.button{
    
    border-radius: 100px !important;
    background-image: linear-gradient(to right top, #ede6e1, #e5ddd1, #d8d4c2, #c6cdb5, #b1c7ad, #a5c6b0, #99c5b4, #8dc3ba, #8ec7c6, #91c9d1, #98ccdb, #a1cee4);
    box-shadow: 0 0 10px var(--my-bg-primary-color);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
}
.button:active{
    border-radius: 100px !important;
    background-image: linear-gradient(to left bottom, #ede6e1, #e5ddd1, #d8d4c2, #c6cdb5, #b1c7ad, #a5c6b0, #99c5b4, #8dc3ba, #8ec7c6, #91c9d1, #98ccdb, #a1cee4);
    
}



/*card*/
.card-circle{
    position: absolute; 
    width: 90px; 
    height: 90px; 
    background-color: var(--my-bg-secondary-color); 
    left: -50px; top: -40px; 
    border-radius: 50% !important;
}
.card{
    background-color: var(--my-bg);
    
}
.color-card{
    color: var(--my-bg-primary-color) !important;
}
.btn{
    width: 80%;
    height: 60px;
    margin: auto;

}
.text-1{
    font-size: 3.5rem !important;
}
.text-2{
    font-size: 2.5rem !important;
}
.text-3{
    font-size: 1rem !important;
}
.set-my-border-radiusP{
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    
}
.card-animated{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

/*CardGroup*/
.set-bg-img1{
  background-color: var(--my-bg-image);
}
.card-body{
  padding: 0;
}
.card{
  border: none !important;
}
.set-bg-img2{
  background-color: var(--my-bg-image2);
}
.set-weigth{
  font-size: 2rem;
  font-weight: 400;
}
.set-my-color-text{
  color: black !important;
}



/*Contact Form*/
.title-form{
  font-size: 2em !important; 
  font-weight: 600 !important;
  text-align: center;
  text-transform: uppercase;
}
.set-bg{
  border-radius: 20px !important;
  background: #e5ddd1 !important;
}


.my-form-control {
  background: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: none !important;
  border-bottom: 2px solid var(--my-bg-primary-color) !important;
  opacity: 0.5;
}

.my-form-control:focus{
  background: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 2px solid var(--my-bg-primary-color) !important;
  box-shadow: none;
  color: black !important;
  
}
.custom-select{
  background: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 2px solid var(--my-bg-primary-color) !important;
  opacity: 0.5;
}

.custom-select:focus{
  background: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 2px solid var(--my-bg-primary-color) !important;
  box-shadow: none;
  color: black !important;
}

.button{
  border-radius: 100px !important;
  background-image: linear-gradient(to right top, #ede6e1, #e5ddd1, #d8d4c2, #c6cdb5, #b1c7ad, #a5c6b0, #99c5b4, #8dc3ba, #8ec7c6, #91c9d1, #98ccdb, #a1cee4);
  box-shadow: 0 0 10px var(--my-bg-primary-color);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
}
.button:active{
  border-radius: 100px !important;
  background-image: linear-gradient(to left bottom, #ede6e1, #e5ddd1, #d8d4c2, #c6cdb5, #b1c7ad, #a5c6b0, #99c5b4, #8dc3ba, #8ec7c6, #91c9d1, #98ccdb, #a1cee4);
  
}
/*Content terstimocials*/
.set-trasparent{
  background-color: transparent !important;
}

/*footer*/
.set-dimension{
  height: 90% !important;
  width: 90%!important;
  box-shadow: 0 0 30px black !important;
  border-radius: 50px !important;
}
footer, .contemntForm{
  font-family: var(--my-text) !important;
  border-bottom: 2px solid var(--my-bg) !important;
}

footer ul li{
  position: relative ;
  font-family: var(--my-text) !important;
  list-style: none !important;
  padding: 0px !important;
  transition: 8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-30px);
}

footer .inputs{
  width: 50%;
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
  border: none !important;
}

footer .btn-send{
  width:15% !important;
  padding: 0 !important;
  margin-left: 70px;
  background: transparent !important;
  border: none !important;
}

footer .input-group{
  padding-left: 10px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid var(--my-bg) !important;
}
footer .inputs:focus {
  outline: none;
}
footer .p-gmail a{
  border-bottom: 1px solid var(--my-bg) !important;
  color: var(--my-bg-primary-color) !important;
}
footer .sotial-media{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
footer .sotial-media ul{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer .sotial-media ul li a{
  width: 100%;
  font-size: 2em !important;
  padding: 5px 10px;
  margin: 20px;
  border-radius: 50% !important;
}
footer .fadebook{
  color: #1877f2 !important;
}
footer .whatsapp{
  color: #22cf45 !important;
}
footer .instagram{
  color: #d6244b;
  
}
.text-center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


/*imgR_L*/

.background-grid{
  background: url('/images/Grid-01.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.background-grid2{
  background: url('/images/Grid2.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.set-my-bg-Img-R{
  background: var(--my-bg-img-R);
}

.my-border{
  border-bottom: 1px solid var(--my-bg-white) !important;
}
.my-font-weight{
  font-weight: 600;
}
.set-my-border-radius{
  border-radius: 20px !important;
}
/*Nav Bar*/

nav ul li .my-a::before{
  content: '' !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 0 !important;
  height: 100% !important;
  background: var(--my-bg-cyan);
  transform: translateX(0) !important;
  z-index: 1;
  overflow: hidden;
  backdrop-filter: blur(15px);
}
nav ul li .my-a:hover::before{
  content: '' !important;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--my-bg-cyan) !important;
  opacity: 0.5;
}

.CardGroup{
  padding: 10px 10px 10px 10px !important;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


ul li{
  list-style-type: none !important;
}